.alius-table{
    margin:0 auto;
    width: 960px;

    font-family: 'Open Sans', sans-serif;

}
table{
    border-collapse: collapse;
    border: 1px solid #f2f2f2;
    width: 100%;
}


table tr {
    border: 1px solid #f2f2f2; 
}
.pople{
    background-color: purple;
    color: white;
display:flex;
align-items: center;
padding: 5px 20px
}
.myname{
    padding: 5px 20px;
    background-color:#f2f2f2

}
.green{
    
    width:10px;
    height:10px;
   background-color: green;
   margin: 2px;
    border-radius:50%;
}
.aliu{
    display: flex;
    align-items: center;
}
.grey{
    width: 10px;
    height: 10px;
    background-color: grey;
    margin: 2px;
    border-radius:50%;
}
.red{
    width: 10px;
    height: 10px;
    background-color: red;
    margin: 2px;
    border-radius:50%;
}


.grey{
    widows: 10px;
    height: 10px;
    background-color: grey;
    margin: 2px;
    border-radius:50%;
}

@media screen and(max-width:600px){
    .ola{
        display: none;
    }
}

.red{
    width: 10px;
    height: 10px;
    background-color: red;
    margin: 2px;
    border-radius:50%;
}

.red{
    width: 10px;
    height: 10px;
    background-color: red;
    margin: 2px;
    border-radius:50%;
}

.green{
    width: 10px;
    height: 10px;
    background-color: green;
    margin: 2px;
    border-radius:50%;
}
.red{
    width: 10px;
    height: 10px;
    background-color: red;
    margin: 2px;
    border-radius:50%;

}

.grey{
    width: 10;
    height: 10px;
    background-color: grey;
    margin: 2px;
    border-radius:50%
}

.red{
    width: 10px;
    height: 10px;
    background-color: red;
    margin: 2px;
    border-radius:50%;
}

.green{
    width: 10px;
    height: 10px;
    background-color: green;
    margin: 2px;
    border-radius:50%;

}

.green{
    width: 10px;
    height: 10px;
    background-color: green;
    margin: 2px;
    border-radius:50%;

}

.red{
    width: 10px;
    height: 10px;
    background-color: red;
    margin: 2px;
    border-radius:50%;
}

.grey{
    width: 10;
    height: 10px;
    background-color: grey;
    margin: 2px;
    border-radius:50%
}

.grey{
    width: 10;
    height: 10px;
    background-color: grey;
    margin: 2px;
    border-radius:50%
}

.green{
    width: 10px;
    height: 10px;
    background-color: green;
    margin: 2px;
    border-radius:50%;

}

.red{
    width: 10px;
    height: 10px;
    background-color: red;
    margin: 2px;
    border-radius:50%;
}

.grey{
    width: 10;
    height: 10px;
    background-color: grey;
    margin: 2px;
    border-radius:50%
}



.green{
    width: 10px;
    height: 10px;
    background-color: green;
    margin: 2px;
    border-radius:50%;
}

.red{
    width: 10px;
    height: 10px;
    background-color: red;
    margin: 2px;
    border-radius:50%;
}

.grey{
    width: 10;
    height: 10px;
    background-color: grey;
    margin: 2px;
    border-radius:50%
}

.green{
    
    width:10px;
    height:10px;
   background-color: green;
   margin: 2px;
    border-radius:50%;
}

.red{
    width: 10px;
    height: 10px;
    background-color: red;
    margin: 2px;
    border-radius:50%;
}

.blue{
width: 10px;
height: 10px;
background-color: blue;
margin: 2px;
}

.pink{
    width: 10px;
    height: 10px;
    background-color:peru ;
    margin: 2px;
}

.matches{
    display: flex;
    align-items:center ;
}

.matches p {
    padding-left: 10px;
    margin: 0;
}

.yellow{
    width: 10px;
    height: 10px;
    background-color: green;
    margin: 2px;
} 
.popple{
    width: 10px;
    height: 10px;
    background-color: red;
    margin: 2px;
}

.oladipupo{
    background-color:#f2f2f2 ;
    display: flex;
}
.jimo{
    margin: 10px 50px;
}

